.banner__text {
    padding: 0 9.5rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.banner__image {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../img/banner-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 2rem;
}

.banner__titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: white;
}

.banner__descripcion {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: white;
}

.banner__btn {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 1rem;
    color: white;
    background: #2A7AE4;
    width: 9.3rem;
    min-width: 9.3rem;
}

@media screen and (max-width: 767.98px) {
    .banner__image {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../img/banner-celu.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .banner__titulo {
        font-size: 22px;
        line-height: 26px;
    }

    .banner__descripcion {
        font-size: 14px;
        line-height: 16px;
    }

    .banner__text {
        padding-left: 1rem;
    }

    .banner__btn {
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 1rem;
        width: 133px;
        height: 40px;
        padding: 0.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1399.98px) {
    .banner__text {
        padding: 0 2rem;
    }
}