.banner__text {
    margin-left: 9.5rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.banner__image {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../img/banner-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner__titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: white;
}

.banner__descripcion {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: white;
}

.banner__btn {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 1rem;
    color: white;
    background: #2A7AE4;
    width: 8.3rem;
    min-width: 8.3rem;
    margin-bottom: 2rem;
}