.encabezado {
    padding: 2rem 9.5rem;
    display: flex;
    justify-content: space-between;
}

.encabezado__container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.encabezado__container___busqueda {
    width: 24.5rem;
    height: 2.5rem;
    border-radius: 20px;
    background: #F5F5F5;
    border: none;
}

.encabezado__container___icono::placeholder {
    background-image: url(../img/busqueda-lupa.svg);
    background-repeat: no-repeat;
    /* background-size: 15px 15px; */
    background-position: right center;
}

.encabezado__container___login {
    width: 11.375rem;
    height: 3.188rem;
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .encabezado {
        padding: 1rem 2rem;
    }

    .encabezado__container___busqueda {
        width: 17rem;
    }

    .encabezado__logo {
        /* width: 93px; */
        height: 30px;
    }

    .encabezado__container {
        gap: 1.5rem;
    }
}