.galeria {
    background: #E5E5E5;
    padding-top: 4rem;
    padding-left: 9.5rem;
    padding-right: 9.5rem;
}

.galeria__titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}

.galeria__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
}

.galeria__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.galeria__info i {
    padding-left: 12px;
}

.galeria__productos {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.galeria__productos___nombre {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

.galeria__productos___destacado {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

@media screen and (max-width: 768px) {
    .galeria {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .galeria__imagen {
        width: 164px;
    }

    .galeria__productos>ul:nth-last-child(-n+2) {
        display: none;
    }
}