.galeria {
    background: #E5E5E5;
    padding-top: 4rem;
    padding-left: 9.5rem;
    padding-right: 9.5rem;
}

.galeria__titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}

.galeria__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
}

.galeria__link-flecha {
    color: #2A7AE4;
}

.galeria__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.galeria__info i {
    padding-left: 12px;
}

.galeria__productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.galeria__productos___lista {
    width: 176px;
}

.galeria__imagen {
    width: 176px;
    height: 174px;
}

.galeria__imagen-background {
    display: flex;
    justify-content: end;
}

.galeria__imagen-background___icono {
    display: hide;
    padding-right: 1rem;
    color: #FFFFFF; 
}

.galeria__productos___nombre {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    width: 10rem;
}

.galeria__productos___destacado {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.container__lista___productos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 9.5rem 4rem 9.5rem;
    justify-content: space-around;
}

.galeria__container-all {
    background: #E5E5E5;
}

.galeria__titulo-principal {
    padding: 2rem 9.5rem;
    display: flex;
    justify-content: space-between;
}

.galeria__btn {
    width: 163px;
    height: 51px;
    background: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

@media screen and (max-width: 539.98px) {
    .galeria__productos>ul:nth-child(n+3) {
        display: none;
    }
}

@media screen and (min-width: 540px) and (max-width:699.98px) {
    .galeria__productos>ul:nth-child(n+4) {
        display: none;
    }
}

@media screen and (min-width: 700px) and (max-width:958.98px) {
    .galeria__productos>ul:nth-child(n+5) {
        display: none;
    }
}

@media screen and (min-width: 959px) and (max-width:1134.98px) {
    .galeria__productos>ul:nth-child(n+6) {
        display: none;
    }
}

@media screen and (min-width: 1135px) {
    .galeria__productos>ul:nth-child(n+7) {
        display: none;
    }
}

@media screen and (max-width: 767.98px) {
    .galeria {
        padding: 1rem;
    }

    .galeria__titulo {
        font-size: 22px;
        line-height: 26px;
    }

    .galeria__link {
        font-size: 14px;
        line-height: 16px;
    }

    .galeria__link-flecha {
        color: #2A7AE4;
        width: 10.67px;
        height: 10.67px;
    }

    .galeria__imagen {
        width: 156px;
    }

    .galeria__productos___lista {
        width: 156px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1399.98px){
    .galeria {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .galeria__imagen {
        width: 164px;
    }
}
