.info {
    background: #EAF2FD;
    padding: 4rem 9.5rem;
    display: flex;
    justify-content: space-between;

}

.info__informacion {
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.info__text {
    padding-top: 1.5rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.info__formulario {
    display: flex;
    flex-direction: column;
}

.info__formulario___nombre {
    width: 35rem;
    height: 3.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.info__formulario___mensaje {
    width: 35rem;
    height: 5rem;
    margin-bottom: 0.5rem;
}

.info__lista {
    padding-bottom: 1.5rem;
    color: #464646;
    text-align: center;
}

.info__formulario___nombre::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A2A2A2;
}

.info__formulario___mensaje::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A2A2A2;
}

@media screen and (max-width: 767.98px) {
    .info {
        flex-direction: column;
        padding: 1.5rem 1rem 1rem 1rem;
    }

    .info__informacion {
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    .info__formulario___nombre {
        width: auto;
    }

    .info__formulario___mensaje {
        width: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1399.98px) {
    .info {
        padding: 2rem 2rem;
    }

    .galeria__imagen {
        width: 164px;
        padding-bottom: 2rem;
    }

    .info__informacion {
        flex-direction: column;
    }

    .info__formulario___nombre {
        width: 434px;
        height: 56px;;
    }

    .info__formulario___mensaje {
        width: 434px;
        height: 56px;
    }
}
