.login__form {
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 6rem;
    padding-bottom: 4.75rem;
}

.login__titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.login__input {
    display: inline-block;
    width: 275px;
    height: 41px;
    background: #FFFFFF;
    border: none;
}

.login__input::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #A2A2A2;
}

.login__btn {
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    width: 109px;
    height: 40px;
    background: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.login__volver {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2A7AE4;
}

