.producto__container {
    background: #E5E5E5;
    padding: 4rem 9.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.producto__img {
    width: 560px;
    height: 403px;
    background-position: center;
	background-attachment: contain;
	background-size: cover;
}

.producto__nombre {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 61px;
    color: #464646;
}

.producto__precio {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.producto__descripcion {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.galeria__productos___relacionados {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* .galeria__productos___relacionados>ul:nth-last-child(-n+2) {
    display: none;
} */
